img {
  height: 2rem;
}

h1 {
  margin: 0;
  padding: 0;
}

.login-section {
  text-align: center;
  margin: auto;
}

.form-check {
  text-align: start;
  padding-left: 2rem;
}

a {
  color: var(--color-violet);
}
