.gradient-bg {
  background: linear-gradient(to bottom, #5680E9, #8860D0);
}

.white-bg {
  background: var(--color-white);
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  padding: 0px;
}

.blue-bg {
  background: var(--color-blue-mid);
}

.header-show {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}
.icon-return {
  height : 15px;
  width: auto;
}

.icon-parameters {
  height : 20px;
  width: auto;
}
.title-white {
  color: white;
}

.card-chart {
  background: var(--color-white);
}

.icon-show {
  height : 23px;
  width: auto;
}
