<turbo-stream action="replace" target="trackerFormModal">
  <template>
    <div class="modal fade" id="trackerFormModal" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <%= render partial: "trackers/form", locals: { trackers: trackers, date: date } %>
        </div>
      </div>
    </div>
  </template>
</turbo-stream>
