<div class="card text-white" style="background: linear-gradient(90deg, #5680E9, #8860D0);">
  <div class="card-body">
    <div class="row text-center">
      <div class="col-3">
        <svg class="mb-1" width="24" height="24" fill="none" stroke="currentColor" stroke-width="2">
          <path d="M11.562 3.266a.5.5 0 0 1 .876 0L15.39 8.87a1 1 0 0 0 1.516.294L21.183 5.5a.5.5 0 0 1 .798.519l-2.834 10.246a1 1 0 0 1-.956.734H5.81a1 1 0 0 1-.957-.734L2.02 6.02a.5.5 0 0 1 .798-.519l4.276 3.664a1 1 0 0 0 1.516-.294z"></path>
          <path d="M5 21h14"></path>
        </svg>
        <div class="fw-bold">Niveau</div>
        <div class="small">Apprenti</div>
      </div>
      <div class="col-3">
        <svg class="mb-1" width="24" height="24" fill="none" stroke="currentColor" stroke-width="2">
          <path d="M4 14a1 1 0 0 1-.78-1.63l9.9-10.2a.5.5 0 0 1 .86.46l-1.92 6.02A1 1 0 0 0 13 10h7a1 1 0 0 1 .78 1.63l-9.9 10.2a.5.5 0 0 1-.86-.46l1.92-6.02A1 1 0 0 0 11 14z"></path>
        </svg>
        <div class="fw-bold"><%= @user.xp_reward %></div>
        <div class="small">XP Total</div>
      </div>
      <div class="col-3">
        <svg xmlns="http://www.w3.org/2000/svg" class="mb-1" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-trophy h-8 w-8 mx-auto mb-2" aria-hidden="true">
          <path d="M10 14.66v1.626a2 2 0 0 1-.976 1.696A5 5 0 0 0 7 21.978"></path>
          <path d="M14 14.66v1.626a2 2 0 0 0 .976 1.696A5 5 0 0 1 17 21.978"></path>
          <path d="M18 9h1.5a1 1 0 0 0 0-5H18"></path><path d="M4 22h16"></path>
          <path d="M6 9a6 6 0 0 0 12 0V3a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1z"></path>
          <path d="M6 9H4.5a1 1 0 0 1 0-5H6"></path>
        </svg>
        <div class="fw-bold">2</div>
        <div class="small">Succès</div>
      </div>
      <div class="col-3">
        <svg xmlns="http://www.w3.org/2000/svg" class="mb-1" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-award h-8 w-8 mx-auto mb-2" aria-hidden="true">
          <path d="m15.477 12.89 1.515 8.526a.5.5 0 0 1-.81.47l-3.58-2.687a1 1 0 0 0-1.197 0l-3.586 2.686a.5.5 0 0 1-.81-.469l1.514-8.526"></path>
          <circle cx="12" cy="8" r="6"></circle></svg>
        <div class="fw-bold">3</div>
        <div class="small">Badges</div>
      </div>
    </div>
    <div class="mt-3" data-controller="xp-progress"
     data-xp-progress-progress-value="<%= @user.xp_progress_percentage(500) %>">
      <div class="d-flex justify-content-between mb-3 mt-2">
        <span>Progression</span>
        <span>  <%= @user.xp_reward %> / 500 xp</span>
      </div>
      <div class="progress-bar-container">
      <div class="progress-bar"
           style="width: 0%;"
           data-progress="<%= @user.xp_reward %>"
           data-xp-progress-target="bar">
      </div>
    </div>
    </div>
  </div>
</div>
