<div class="card d-flex justify-content-between", style="min-height:15rem;">
  <h3 class="fw-bold"><%= habit.name %></h3>
  <%# à changer par le vrai objectif %>
  <p>Objectif: 2l d'eau par jour</p>
  <div class="d-flex bottom-card justify-content-center align-items-end gap-2">
    <div class="info-content col-12 bg-white rounded-5 shadow">
      <i class="fa-solid fa-chart-column"></i>
      <span><strong>28  </strong>jours consécutifs</span>
    </div>
    <%# Appliquer la couleur différente si tracker du jour rempli %>
    <i class="fa-regular fa-circle-check fs-4"></i>
  </div>
</div>
