<div class="card card-challenge justify-content-between" >
  <div class="d-flex justify-content-between">
    <h3 class="col-8 fw-bold"><%= challenge.name %></h3>
    <%= image_tag('icons/trophy-purple.png', id: "trophy-icon-purple") %>
  </div>
  <div>
    <span>Objectif : </span><%= challenge.objective %>
  </div>
  <span class="align-self-end">Par :<%= image_tag("avatars/#{challenge.creator}", class:"avatar-bordered w-8 h-8 rounded-full", alt: challenge.creator) %>
  </span>
</div>
