<footer class="site-footer">
  <div class="container py-3 footer">
    <%= link_to root_path do %>
      <%= image_tag("icons/home.png", class:"footer-btn")%>
    <% end %>
    <button class="btn btn-primary" id="btn-add" data-bs-toggle="modal" data-bs-target="#habitFormModal">
      <%= image_tag("icons/add.png", class:"add-btn")%>
    </button>
    <%= image_tag("icons/trophy.png", class:"footer-btn")%>
  </div>
</footer>
