<header class="site-header">
  <div class="container header">
    <%= link_to root_path do %>
      <%= image_tag("logo-habits.png", class:"logo")%>
    <% end %>
      <%= image_tag("icons/profile-user.png", class:"profil-btn")%>
  </div>
</header>
