<div class="tip px-3">
  <div class="d-flex align-items-center gap-3">
    <i class="fa-solid fa-lightbulb fa-2x"></i>
    <div>
      <p class="mb-0"><%= tip&.content %></p>
      <small>Généré automatiquement</small>
    </div>
  </div>
</div>
