<% content_for :title, "Petite erreur de serveur" %>
<div class="error-page container text-center">
  <%= image_tag("error-500") %>
  <div class = "mt-4">
    <h1>Oups! Petit problème de serveur</h1>
    <h5>En attendant, tape la discute avec ton voisin !</h5>
  </div>
  <%= link_to "Go Home", root_path, class: "btn btn-primary" %>
</div>
