.input-show-tracker::-webkit-outer-spin-button,
.input-show-tracker::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Cacher les flèches sur Firefox */
.input-show-tracker {
  -moz-appearance: textfield;
}

.input_tracker input {
    background: transparent;
    border: transparent;
}

.input-show-tracker {
  margin-bottom: 0;
  width: 45px !important;
  font-size: larger;
  font-weight: bold;
  color: white;
  text-align: center;
}
.color-white p {
  color: white;
}
