.site-header {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 100;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
 display: flex;
 align-items: center;
 gap: 10px;
}

.img-logo {
  height : 35px;
  width: auto;
}

.text-logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.gradient-text {
  background: var(--gradient-primary);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  background-clip: text;
  color: transparent;
}

.profil-btn {
  background: none;
  border: none;
  cursor: pointer;
  height: 30px;
  width: auto;
}

.profil-btn:hover {
  opacity: 0.8;
}
